# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/

# Environment
.env
.env.local
.env.production

# Build
dist/
.nuxt/
.output/
build/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# S3 local
minio-data/

# Test coverage
coverage/
htmlcov/
.pytest_cache/
